/* ===================================
   HEADER
=================================== */

.header{
    width:100%;
    background:#0B5D3B;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

.header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo h1{
    color:#FFD700;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:#ffffff;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover,
.nav-links a.active{
    color:#FFD700;
}

.menu-btn{
    display:none;
    font-size:28px;
    color:#ffffff;
    cursor:pointer;
}